body{
    margin:0;
    padding:0;
    background-color: rgb(247, 254, 255);
}
/* For styling the navigation  */
.outerNavigation{
    background-color: white;
    box-shadow: 0 2px 5px lightblue;
}
.logo{
    margin-right: 30px;
    margin-top: 10px;
    font-size: x-large;
    font-weight: bold;
    color:lightblue;

}
.navigation {
    max-width: 800px;
    width: 100%;
    padding: 30px 0 10px;
    margin:0 auto;
    display: flex;
    justify-content: center;
}
.searchForm label{
    display: none;
}
.searchForm input{
    width: 350px;
    line-height: 30px;
    border-radius: 10px;
    padding-left: 20px;
    border:1px solid lightblue;
    font-weight: bold;
}
.navigation ul{
    display: flex;
    list-style-type: none;
    margin:10px;
    font-weight: bold;
    padding:0;
}
a{
    text-transform: none;
    text-decoration: none;
    padding: 0 15px;
}
.navigation ul li a{
    color:lightblue;
}
.navigation ul li a:hover{
    color:gray;
}
.navigation ul li a:active{
    color:gray;
}
.outlet{
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}
/* Styling the post page section  */
.postPage,.Post{
    background-color: white;
    box-shadow: 0 0 5px skyblue;
    padding: 20px;
    margin:10px 0;
}
.deleteBtn{
    color:red;
}
.postDate{
    font-style: italic;
    font-size: small;
}

/* new post form styling  */

.newPost label{
    display: none;
}
.newPost input{
    display: block;
    line-height: 30px;
    border-radius: 10px;
    font-weight: bold;
    max-width: 650px;
    width: 100%;
    margin:20px auto;
    padding:5px 20px;
    border:1px solid lightblue;
    /* border-color: lightblue; */
}
.newPost textarea{
    display: block;
    max-width: 650px;
    width: 100%;
    height: 200px;
    margin:20px auto;
    padding:5px 20px;
    border:1px solid lightblue;
}
.newPost button{
    display: block;
    margin:0 auto;
    padding:5px 40px;
    background-color: white;
    border:1px solid lightblue;
    border-radius: 5px;
}
.newPost button:hover{
    color:lightgray;
}
/* styling about page */

.aboutPage p{
    line-height: 2em;
    background-color: white;
    padding:20px;
    border:1px solid lightblue;
    border-radius: 10px;
}